#include <windows.h>
#include "resource.h"

IDD_CONFIG DIALOG 0, 0, 320, 400
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Matrix Screensaver Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Speed",IDC_STATIC,7,7,306,40
    LTEXT           "Slower",IDC_STATIC,15,25,25,8
    CONTROL         "",IDC_SPEED_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,45,23,200,15
    LTEXT           "Faster",IDC_STATIC,250,25,25,8

    GROUPBOX        "Density",IDC_STATIC,7,50,306,40
    LTEXT           "Less",IDC_STATIC,15,68,25,8
    CONTROL         "",IDC_DENSITY_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,45,66,200,15
    LTEXT           "More",IDC_STATIC,250,68,25,8

    GROUPBOX        "Font Size",IDC_STATIC,7,93,306,40
    LTEXT           "Smaller",IDC_STATIC,15,111,30,8
    CONTROL         "",IDC_FONTSIZE_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,50,109,190,15
    LTEXT           "Bigger",IDC_STATIC,245,111,25,8

    GROUPBOX        "Color Hue",IDC_STATIC,7,136,150,40
    CONTROL         "",IDC_HUE_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,15,154,135,15

    GROUPBOX        "Font",IDC_STATIC,163,136,150,40
    COMBOBOX        IDC_FONT_COMBO,171,150,80,60,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bold",IDC_BOLD_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,260,152,30,10

    GROUPBOX        "Custom Word",IDC_STATIC,7,179,306,35
    CONTROL         "Use custom word",IDC_USE_CUSTOM_WORD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,193,70,10
    EDITTEXT        IDC_CUSTOM_WORD_EDIT,90,191,100,14,ES_AUTOHSCROLL
    CONTROL         "Sequential characters",IDC_SEQUENTIAL_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,195,193,90,10
    CONTROL         "White heads",IDC_WHITE_HEAD_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,203,60,10

    GROUPBOX        "Mask Image",IDC_STATIC,7,217,306,35
    EDITTEXT        IDC_MASK_PATH,15,233,200,14,ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Browse...",IDC_BROWSE_MASK,220,232,45,16
    PUSHBUTTON      "Clear",IDC_CLEAR_MASK,270,232,35,16

    GROUPBOX        "Mask Background",IDC_STATIC,7,255,306,25
    CONTROL         "Show mask as background",IDC_SHOW_MASK_BG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,267,100,10
    LTEXT           "Opacity:",IDC_STATIC,120,269,30,8
    CONTROL         "",IDC_MASK_OPACITY_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,155,267,100,12

    GROUPBOX        "Message Speed",IDC_STATIC,7,285,150,40
    LTEXT           "Slow",IDC_STATIC,15,303,20,8
    CONTROL         "",IDC_MESSAGE_SPEED_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,40,301,90,15
    LTEXT           "Fast",IDC_STATIC,135,303,20,8

    GROUPBOX        "Fade Rate",IDC_STATIC,163,285,150,40
    LTEXT           "Slow",IDC_STATIC,171,303,20,8
    CONTROL         "",IDC_FADE_RATE_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,195,301,90,15
    LTEXT           "Fast",IDC_STATIC,290,303,20,8

    GROUPBOX        "3D Effects",IDC_STATIC,7,330,306,35
    CONTROL         "Enable 3D depth mapping",IDC_ENABLE_3D_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,342,100,10
    CONTROL         "Variable font sizes",IDC_VARIABLE_FONT_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,342,80,10
    LTEXT           "Depth range:",IDC_STATIC,210,344,45,8
    CONTROL         "",IDC_DEPTH_RANGE_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,260,342,50,12

    DEFPUSHBUTTON   "OK",IDOK,205,384,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,263,384,50,14
END